<div class="container">
  <div class="formulaire mt-3">
    <h2>Ajouter un joueur!</h2>
    <form [formGroup]="joueurForm" (ngSubmit)="onSavePlayer()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Prénom" formControlName="name">
      </div>
      <button type="submit" class="btn btn-success" [disabled]="joueurForm.invalid">Ajouter</button>
    </form>
  </div>


  <ul class="list-group mt-5">
    <h3>Joueur du gang !</h3>
    <li class="list-group-item" *ngFor="let name of listPlayers">
      <span>{{name.payload.doc.data().nom}}</span>
    </li>
  </ul>
</div>
