<main>
  <div class="container">
    <div class="row" *ngIf="!(this.user | async)">
    <!-- Not connected-->
    <h1>Non Connecté</h1>
    </div>

    <!-- Connected -->
    <div class="content" *ngIf="(this.user | async)">
      <h1 class="text-center">Hello gang</h1>
      <div class="row mx-auto mt-5">
        <button class="btn btn-outline-primary mx-auto" (click)="btnAddPlayer()">Ajouter un joueur</button>
        <button class="btn btn-outline-success mx-auto" (click)="btnBelote()">Belote !</button>
        <button class="btn btn-outline-info mx-auto" (click)="bntScores()">Scores</button>
      </div>

      <ul>
<!--        <li *ngFor="let player of Joueur">-->
<!--          {{ player.name }}-->
<!--        </li>-->
      </ul>
    </div>

  </div>
</main>


