<main>
  <div class="container">
    <div class="row">
      <div class="formulaireManche">
        <form [formGroup]="mancheForm" (ngSubmit)="onSaveManche()" *ngFor="let name of prenom | async">
          <h2>Manche {{ name.manche }}</h2>
          <div class="form-group">
            <label for="scA">Team {{ name.joueur1 }}/{{ name.joueur2 }} | Total: {{ name.scoreA }}</label>
            <input type="number" id="scA" class="form-control" formControlName="scoreTeamA" min="0" max="252" >
            <div class="belotezone form-check">
              <input type="checkbox" id="belote" class="form-check-input" formControlName="beloteA">
              <label for="belote">Belote</label>
            </div>
            <div class="capotezone form-check">
              <input type="checkbox" id="capot" class="form-check-input" formControlName="capotA">
              <label for="capot">Capot</label>
            </div>

          </div>
          <div class="form-group">
            <label for="scB">Team {{ name.joueur3 }}/{{ name.joueur4 }} | Total: {{ name.scoreB }}</label>
            <input type="number" id="scB" class="form-control" formControlName="scoreTeamB" min="0" max="252">
            <div class="belotezone form-check">
              <input type="checkbox" id="beloteB" class="form-check-input" formControlName="beloteB">
              <label for="beloteB">Belote</label>
            </div>
            <div class="capotezone form-check">
              <input type="checkbox" id="capotB" class="form-check-input" formControlName="capotB">
              <label for="capotB">Capot</label>
            </div>
          </div>
          <div class="form-group">
            <label for="preneur">Prise:</label>
            <select id="preneur" class="form-control" formControlName="preneur" >
              <option value="{{ name.joueur1 }}">{{ name.joueur1 }}</option>
              <option value="{{ name.joueur2 }}">{{ name.joueur2  }}</option>
              <option value="{{ name.joueur3 }}">{{ name.joueur3 }}</option>
              <option value="{{ name.joueur4 }}">{{ name.joueur4 }}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-success" [disabled]="mancheForm.invalid">Ajouter la manche</button>
        </form>

      </div>
    </div>
  </div>
</main>
